[Unit]
Description=Tutacc - A unified platform for anti-censorship
Documentation=https://v2fly.org https://guide.v2fly.org
After=network.target nss-lookup.target
Wants=network-online.target

[Service]
# If the version of systemd is 240 or above, then uncommenting Type=exec and commenting out Type=simple
#Type=exec
Type=simple
# Runs as root or add CAP_NET_BIND_SERVICE ability can bind 1 to 1024 port.
# This service runs as root. You may consider to run it as another user for security concerns.
# By uncommenting User=tutacc and commenting out User=root, the service will run as user tutacc.
# More discussion at https://github.com/tutacc/tutacc-core/issues/1011
User=root
#User=tutacc
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=yes
ExecStart=/usr/bin/tutacc/tutacc -config /etc/tutacc/config.json
Restart=on-failure
# Don't restart in the case of configuration error
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
